/* General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  color: #000;
}

/* Navbar */
.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  position: relative;
  z-index: 2;
}

.navbar img {
  max-width: 150px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* Estilos del botón de cambio de idioma */
.language-switch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 5px;
  width: 60px;
  height: 30px;
  position: relative;
}

/* Estilos de las opciones EN y ES */
.language-option {
  width: 50%;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  color: #000;
  transition: color 0.3s;
}

/* Resaltado para "ES" activo */
.es-active::before {
  content: "";
  position: absolute;
  top: 3px;
  right:3px;
  width: 50%;
  height: calc(100% - 6px);
  background-color: #000;
  border-radius: 20px;

}

.es-active .language-option:last-child {
  color: #fff;
}

.en-active::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 50%;
  height: calc(100% - 6px);
  background-color: #000;
  border-radius: 20px;
  
}


/* Botón menú sándwich */
.menu-toggle {
  display: none;
  font-size: 24px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mostrar botón menú en pantallas pequeñas */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  /* Estilos para el menú móvil */
  .navbar-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    width: 70%;
    height: 100%;
    padding-top: 60px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .navbar-links.active {
    display: flex;
  }

  /* Mayor separación entre los elementos del menú móvil */
  .navbar-links a {
    padding: 15px;
    margin: 5px 0;
    text-align: center;
  }

  .language-switch{
    padding: 15px;
    margin: 5px 0;
    left: 32%;
    right: 32%;
  }

}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay.active {
  display: block;
}

/* Slideshow */
.slideshow-container {
  position: relative;
  max-width: 75%;
  height: 500px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

.slide-wrapper {
  display: flex;
  transition: transform 1s ease;
}

.mySlides {
  width: 100%;
  flex: 0 0 100%;
}

.mySlides img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 10px;
}

/* Dot navigation */
.dot-container {
  text-align: center;
  margin-top: -10px;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #333;
}

/* Productos Destacados */
.productos-destacados {
  text-align: center;
  margin: 50px 20%;
}

.productos-destacados h2 {
  color: #333;
  font-size: 28px;
}

.productos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.producto {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 250px;
  text-align: center;
  text-decoration: none;
  color: #333;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width:90%;
}

.producto img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.producto h3 {
  color: #333;
}

.producto p {
  color: #333;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espacio entre el texto y el ícono */
}

.ig-button img {
  width: 30px; /* Tamaño del ícono */
  height: auto;
  transition: transform 0.2s ease;
}

.ig-button img:hover {
  transform: scale(1.1); /* Agrandamiento al pasar el cursor */
}



/* Responsive Design */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #000;
    padding-top: 60px;
    z-index: 2;
  }

  .navbar-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .overlay.active {
    display: block;
  }

  .slideshow-container {
    max-width: 100%;
    height: 300px;
  }

  .dot-container {
    margin-top: -20px;
  }

/* Productos Destacados */
.productos-container {
  display: flex;
  justify-content: center; /* Centramos los productos */
  flex-direction: column; /* Hacemos que se apilen verticalmente */
  align-items: center;
  gap: 20px; /* Espacio entre los productos */
}


}
